body {
    height: 1vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: bisque;
}
@media (max-width: 900px) {
    .left {
      width: auto!important;
    }
    .right {
      width: auto!important;
    }
    .quess {
      width: auto!important;
      padding: auto;
    }
    .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
    }
    
  }

.title-guess {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

h1 {
    font-size: 3rem;
}

.number {
    background: chocolate;
    color: #333;
    font-size: 2rem;
    text-align: center;
    padding: 30px 40px;
  }

  .container {
    width: 100%;
    display: flex;
    gap: 100px;
    justify-content: center;
    padding-top: 50px;
  }

  .left {
    width: 52rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .guess {
    background: none;
    border: 2px solid grey;
    font-family: inherit;
    color: inherit;
    font-size: 2rem;
    padding: 2.5rem;
    width: 25rem;
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }

 
  
  .right {
    width: 52rem;
    font-size: 1.5rem;
  }

  .message {
    margin-bottom: 2rem;
    height: 2rem;
  }
  
  .label-score {
    margin-bottom: 2rem;
  }
